body{
margin: 0;
padding: 0;
position: absolute;
}

p
{
font-size: medium;
text-indent: 30px;
text-align: justify;
}

#menu{
float: center;
/*background-color: #7f7f7f;*/
height:40px;
}

#menu ul{
position:relative;
margin:0;
padding: 0;
}

#menu ul li{
	float: left;

	list-style: none;
}

#menu ul a{
	text-align:center;
	color: blue;
	text-decoration:none;
	background: #e0e1e7;
	display:block;
	border: solid 3px;
	border-radius: 0px 0px 12px 12px;
	border-color: purple;
	margin:5px;
	margin-top: 0px;
	height: 30px;
}

#menu ul a:hover{
text-decoration: underline;

}


#menu ol{
	color: green;
	display: none;
}


.tab{
float: left;

}



.content{
background-color: grey ;

}

.conteneur{


}


.construct
{
	color: red;
	font-family: Impact;
	font-size: small;
	text-align: center;
	text-decoration: blink;
	}

table
{
border-collapse: collapse;
}

td
{
	border: 1px solid black;
	text-align: center;
}

.citation
{
color: blue;
font-size: medium;
font-family: alamain, sans serif;
